<h1>게시판</h1>

<div>
    <table>
        <thead class="new">
            <tr>
                <td>NEW_ID</td>
                <td><input type="text" id="title"></td>
                <td><input type="text" id="content"></td>
                <td><button onclick="save()">등록하기</button></td>
        </thead>
        <thead>
            <tr>
                <th>NO.</th>
                <th>TITLE</th>
                <th>CONTENT</th>
                <th>DATE</th>
                <th>M/D</th>
            </tr>
        </thead>

        <tbody>
            {{#each posts}}
            <tr class="post">
                <td>{{no}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{date}}</td>
                <td>
                    <button>수정</button>
                    <button>삭제</button>
                </td>
                {{/each}}
        </tbody>
    </table>
</div>

<script>
    async function save() {
        const title = document.getElementById('title').value;
        const content = document.getElementById('content').value;

        if (!title || !content) {
            alert('제목과 내용을 입력해 주세요!!!');
            return;
        }

        const body = {
            title: title,
            content: content
        };

        const result = await fetch('/board', {
            method: 'POST',
            body: JSON.stringify(body),
            headers: {
                'Content-Type': 'application/json',
            }
        });
        const data = await result.json();

        // 신규 ID가 잘 생성됬으면 페이지 새로고침!
        if (data.id) {
            console.log('결과는?', data);
            location.reload();
        } else {
            alert('저장에 실패했습니다!!!! 나중에 다시 시도???');
        }
    }
</script>